$primary: hsl(172, 67%, 45%);
$veryDark: hsl(183, 100%, 15%);
$darkPrimary: hsl(186, 14%, 43%);
$darkSecondary: hsl(184, 14%, 56%);
$lightPrimary: hsl(185, 41%, 84%);
$lightSecondary: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
