@import 'color';

.ratio {
    background-color: $veryDark;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    height: 58px;

    &:hover {
        cursor: pointer;
        background-color: $hover;
        color: $veryDark;
    }
}

.isActive {
    color: $veryDark;
    background-color: $primary;
}

@media screen and (max-width: 920px) {
    .ratio {
        height: 5vh;
    }
}