@font-face {
    font-family: spaceMono;
    src: url(./assets/fonts/SpaceMono-Regular.ttf);
  }
  
  @font-face {
    font-family: spaceMono;
    src: url(./assets/fonts/SpaceMono-Bold.ttf);
    font-weight: bold;
  }