@import "color";
@import "fonts"; 

body {
  margin: 0;
  font-family: "spaceMono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $lightPrimary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.i-label {
  color: $veryDark;
  font-weight: bold;
  display: block;
  padding-bottom: 5px;
}

.error-label {
  color: orangered;
  font-weight: bold;
  display: block;
  padding-bottom: 5px;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $darkSecondary;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $darkSecondary;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $darkSecondary;
} 

#active-state {
  background-color: $primary;
  color: $veryDark;
}

#inactive-state {
  background-color: $blank;
  color: $veryDark;
}

.error-input {
  border: solid 2px orangered !important;
}

.hide {
  display: none;
}

.active-input {
  border: solid 2px $primary !important;
}